<div th:fragment="navleft" class = "bg-gradient-primary">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion p-0">
        <div class="container-fluid d-flex flex-column p-0">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon rotate-n-15"></div>
                <div class="sidebar-brand-text mx-3"><span style="padding: 0px;filter: blur(0px);">JOURNAL</span></div>
            </a>
            <hr class="sidebar-divider my-0">
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/swshowpodstation">
                        <i class="fas fa-table"></i>
                        <span>Просмотр</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/sweditpodstationvalues">
                        <i class="far fa-edit"></i>
                        <span>Ввод замеров</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/sweditpodstationparams">
                        <i class="fas fa-house-damage"></i>
                        <span>Редактор подстанции</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/swshowhousesegment">
                        <i class="fas fa-search-location"></i>
                        <span>Справочник адресов</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/swshowgeo">
                        <i class="fas fa-map"></i>
                        <span>На карте</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/measurereport">
                        <i class="fas fa-receipt"></i>
                        <span>Ведомость</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/measureblankreport">
                        <i class="fas fa-file-contract"></i>
                        <span>Бланк замеров</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/reportall">
                        <i class="fas fa-list"></i>
                        <span>Свод по ТП</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/overloadreport">
                        <i class="fas fa-burn"></i>
                        <span>В перегрузке</span></a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/admin">
                        <i class="fas fa-user-shield"></i>
                        <span>Настройки</span></a>
                </li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
            </div>
        </div>
    </nav>
</div>